@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

:root {
  --theme-primary: #6e77e4;
  --nav-link: var(--theme-primary);
  --nav-link-hover: #4b53aa;
  --btn-danger: #d32f2f;
  --btn-hover-primary: #4b53aa;
}

.light {
  --background: #f4f4f4;

  --text-primary: #333333;
  --text-secondary: #666666;
  --placeholder: #999999;
  --btn-primary: var(--theme-primary);
  --btn-text-primary: #e0e0e0;
  --btn-secondary: #e0e0e0;
  --border-primary: #333333;

  --nav-icons: var(--text-primary);

  --card-bg: #e0e0e0;

  background: var(--background);
}

.dark {
  --background: #121212;

  --text-primary: #e0e0e0;
  --text-secondary: #8e8e8e;
  --placeholder: #757575;
  --btn-primary: var(--theme-primary);
  --btn-text-primary: #e0e0e0;
  --btn-secondary: #333333;

  --border-primary: #333333;
  --nav-icons: var(--text-primary);

  --card-bg: #1e1e1e;

  background: var(--background);
}
